:root {
        --ic-brand-primary-darkened-5: #588CC4;
--ic-brand-primary-darkened-10: #5385BA;
--ic-brand-primary-darkened-15: #4F7DB0;
--ic-brand-primary-lightened-5: #6498D0;
--ic-brand-primary-lightened-10: #6C9DD2;
--ic-brand-primary-lightened-15: #74A3D5;
--ic-brand-button--primary-bgd-darkened-5: #588CC5;
--ic-brand-button--primary-bgd-darkened-15: #4F7DB0;
--ic-brand-button--secondary-bgd-darkened-5: #E8724F;
--ic-brand-button--secondary-bgd-darkened-15: #D06647;
--ic-brand-font-color-dark-lightened-15: #536577;
--ic-brand-font-color-dark-lightened-30: #71808F;
--ic-link-color-darkened-10: #5385BA;
--ic-link-color-lightened-10: #6C9DD2;
--ic-brand-primary: #5c93ce;
--ic-brand-font-color-dark: #354A5F;
--ic-link-color: #5c93ce;
--ic-brand-button--primary-bgd: #5c93cf;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #F47753;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #18324b;
--ic-brand-global-nav-ic-icon-svg-fill: #5C93CE;
--ic-brand-global-nav-ic-icon-svg-fill--active: #F47753;
--ic-brand-global-nav-menu-item__text-color: #FFFFFF;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #5c93cf;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #18324b;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/308/rocket-underscore-large-white.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/309/rocket-underscore-large-white.png');
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/310/rocket%20underscore%20square%2032.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/311/lc-canvas-app-icon.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/312/widnwos-tile.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/313/wide-windoes-tile.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_200400000000000001/attachments/314/wide-logo-white.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }